.tile {
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
}

.hidden {
  background-color: rgb(170, 170, 170) !important;
}

.color1 {
  background-color: #df0b00;
}

.color1-closed {
  background-color: #df0b00;
  opacity: 0.5;
  outline: 5px solid rgb(170, 170, 170);
}

.color2 {
  background-color: #e76801;
}

.color2-closed {
  background-color: #e76801;
  opacity: 0.5;
  outline: 5px solid rgb(170, 170, 170);
}

.color3 {
  background-color: #ffd231;
}

.color3-closed {
  background-color: #ffd231;
  opacity: 0.5;
  outline: 5px solid rgb(170, 170, 170);
}

.color4 {
  background-color: #008127;
}

.color4-closed {
  background-color: #008127;
  opacity: 0.5;
  outline: 5px solid rgb(170, 170, 170);
}


.color5 {
  background-color: #67c9d6;
}

.color5-closed {
  background-color: #67c9d6;
  opacity: 0.5;
  outline: 5px solid rgb(170, 170, 170);
}


.color6 {
  background-color: #004c94;
}

.color6-closed {
  background-color: #004c94;
  opacity: 0.5;
  outline: 5px solid rgb(170, 170, 170);
}


.color7 {
  background-color: #601f93;
}

.color7-closed {
  background-color: #601f93;
  opacity: 0.5;
  outline: 5px solid rgb(170, 170, 170);
}


.color8 {
  background-color: #a01280;
}

.color8-closed {
  background-color: #a01280;
  opacity: 0.5;
  outline: 5px solid rgb(170, 170, 170);
}
