.tile {
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
}

.hidden {
  background-color: rgb(170, 170, 170) !important;
}

.disabled {
  pointer-events: none;
  background-color: rgb(170, 170, 170);
}

.color1 {
  background-color: #df0b00;
  pointer-events: none;
}

.color2 {
  background-color: #e76801;
  pointer-events: none;
}

.color3 {
  background-color: #ffd231;
  pointer-events: none;
}

.color4 {
  background-color: #008127;
  pointer-events: none;
}

.color5 {
  background-color: #67c9d6;
  pointer-events: none;
}

.color6 {
  background-color: #004c94;
  pointer-events: none;
}

.color7 {
  background-color: #601f93;
  pointer-events: none;
}

.color8 {
  background-color: #a01280;
  pointer-events: none;
}

.disapear {
  pointer-events: none;
}